.jog, .jog_mobile {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

.jog:hover {
  background-color: #f6fff6;
}

.jog_mobile {
  border-bottom: solid 1px grey;
}

.jog__logo {
  margin-right: 46px;
}

.jog__properties__item {
  margin-bottom: 9px;
}

.jog__properties__item_title, .jog__properties__item_value {
  font-family: 'SFUIText';
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.jog__properties__item_title {
  margin-right: 4px;
  font-weight: bold;
}

.jog__properties__item_value {
  color: var(--grey);
}
