.header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--apple-green);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  height: calc(100%*0.5);
  margin-left: 25px;
}

.header nav {
  margin-right: 118px;
}

.header a {
  text-decoration: none;
}

.header span {
  font-family: 'SFUIText';
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 23px;
}

.header .active_link {
  text-decoration: underline;
}

.header span:hover {
  text-decoration: underline;
}

.header__logo__mobile {
  margin-right: 25px;
}

.header__mobile_navbar {
  width: 100vw;
  height: 190vh;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.header__mobile_navbar__logo {
  position: fixed;
  width: 98px;
  height: 37px;
  top: 20px;
  left: 25px;
  filter: invert(58%) sepia(81%) saturate(410%) hue-rotate(46deg) brightness(104%) contrast(98%);
}

.header__mobile_navbar__links_wrapper {
  height: 100%;
  padding-top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__mobile_navbar span {
  color: #000000;
  z-index: 2;
  font-size: 25px;
}

.header__mobile_navbar a {
  margin-bottom: 30px;
}

.header__mobile_navbar .active_link {
  color: var(--apple-green);
  text-decoration: none;
}

.header__mobile_navbar__cancel {
  filter: invert(0.5);
  position: fixed;
  right: 25px;
  top: 28px;
}
