.jogs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jogs__filter {
  min-height: calc(var(--header-height)*0.5);
}

.jogs__filter, .jogs__filter_mobile {
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jogs__filter .react-datepicker-wrapper input,
.jogs__filter_mobile .react-datepicker-wrapper input {
  margin-right: 45px;
  margin-left: 15px;
  width: 100px;
  height: 31px;
  border-radius: 11px;
  border: solid 1px #979797;
}

.jogs__filter, .jogs__filter_mobile {
  font-family: 'SFUIText';
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--grey);
}

.jogs__filter_mobile .react-datepicker-wrapper input {
  margin: 10px;
}

.jogs .jog, .jogs .jog_mobile {
  padding: 40px 0;
}

.jogs__add, .jogs__add_mobile {
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
}

.jogs__add_mobile {
  height: 47px;
  bottom: 30px;
  right: 30px;
}

.jogs__toggle-filter, .jogs__toggle-filter_mobile {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  padding-right: 36px;
}

.jogs__toggle-filter_mobile {
  right: 50px;
}
